<h1>Add another definition:</h1>

<form action="/definitions" method="post">
  <label for="part_of_speech">Part of Speech:</label>
  <input id="part_of_speech" name="part_of_speech" type="text">

  <label for="describe">Describe:</label>
  <input id="describe" name="describe" type="text">

  <button type="submit">Add</button>
</form>
