<h1>Add more words to this dictionary!</h1>

<p>Please add a word here:</p>

<form action="/words" method="post">
  <label for="name">Enter Word:</label>
  <input id="name" name="name" type="text">
  <button type="submit">Add Word</button>
</form>
