<h2>Here are all the definitions for this word so far:</h2>

<ul>
  <% @word.descriptions().each() do |description| %>
    <li><a href="/definitions/<%= description.id() %>"><%= description.part_of_speech() %> <%= description.describe() %></a></li>
  <% end %>
</ul>

<h4>Make a contribution:</h4>
<a href="/words/<%= @word.id%>/definitions/new">Add a new definition here!</a>
<h4>Once added, your definition will be added to the list at the top of the page.</h4>
